.Drop-Box {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 8.5rem;
  width: 9rem;
  top: 4%;
  right: 4vw;
  padding: .2rem;
  margin: 0 auto;
  border-radius: 2rem;
  border: .17rem dashed rgb(200, 232, 236);
  background-color: rgb(172, 255, 227);
  transition: border .2s ease;
  transition-property: border, background-color;
  transition-duration: .44s, .1s;
  box-shadow: .6rem .8rem 2rem -.4rem rgba(0, 0, 0, 0);
  transition: transform .3s ease;
  transition-property: transform, box-shadow, height, width, border, background-color;
  transition-delay: .27s;
  cursor: pointer;
  user-select: none;
}

.Drop-Box:hover {
  box-shadow: .6rem .8rem 2rem -.4rem rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
  transition-duration: .12s;
  transition-delay: 0s;
}

.Drop-Box.highlight {
  border: .18rem dashed rgb(139, 211, 219);
  background-color: rgb(144, 247, 212);
  transition-delay: 0s;
}
.Drop-Box.expand {
  height: 20rem;
  width: 20rem;
  box-shadow: .6rem .8rem 2rem -.4rem rgba(0, 0, 0, 0.22);
  transition-delay: 0s;
}
.Drop-Box.expand.highlight {
  transform: scale(1.03);
  box-shadow: .6rem .8rem 2rem -.4rem rgba(0, 0, 0, 0.14);
}

.Drop-Box input[type=file] {
  visibility: hidden;
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.Drop-Box img {
  height: 3.6rem;
  opacity: .25;
  transition: transform .5s ease .3s;
  transition-property: transform, height;
}
.Drop-Box h2 {
  font-size: .75rem;
  max-width: 8.2rem;
  height: 2.2rem;
  font-weight: 600;
  color: #5b6474;
  text-transform: none;
  transition: opacity .4s ease .4s;
  transition-property: opacity, height;
}
.Drop-Box.processing {
  height: 4rem;
  width: 4rem;
  pointer-events: none;
}
.Drop-Box.processing img {
  height: 2rem;
  transition-duration: .4s;
  transition-delay: .4s;
}
.Drop-Box.processing h2 {
  height: 0;
  opacity: 0;
  transition-delay: .2s;
}
